.position_box {
  padding: 0px 10px;
  margin-right: 180px;
}
.position_secondBox {
  margin-top: 30px;
  /* padding: 10px 20px; */
  border: 2px solid #b4b4b8;
  background-color: #dddddd;
}
.position_outerbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-check-input[type="checkbox"] {
  border: 2px solid #b4b4b8;
  /* background-color: #dddddd; */
}
.position_form_sizing{
  padding: 10px 30px !important;
}
.heading_position{
  padding: 2.5px 30px !important;
  background-color:white
}