.form-control {
  border: 1px solid black !important;
  border-radius: 1px !important;
}
.upperCase {
  text-transform: upperCase;
  font-size: 1.3rem !important;
  padding: 0px 12px !important;
}

.sizing {
  height: 65vh;
  width: 54vw;
  border: 2px solid #b4b4b8;
  background-color: #dddddd;
  padding: 0px 0px !important;
}
.form_sizing {
  padding: 0px 12px !important;
}
.section_heading_background {
  background-color: white;
  padding-top: 3px !important;
  padding-bottom: 1px !important;
}
